<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="BBAutoServiceSoap" maxBufferSize="64000000" maxReceivedMessageSize="64000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56202/BBAutoService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BBAutoServiceSoap"
                contract="BBAutoWebService.BBAutoServiceSoap" name="BBAutoServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>